body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
h1 {
  font-size: 3em;
}
input {
  font-size: 2em;
}
li {
  margin: 1%;
}